.profile {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin: 40px 0 51px 0;
}

@media screen and (max-width: 740px){
    .profile {
        flex-direction: column;
        text-align: center;
    }
}