.content {
    max-width: 1280px;
    min-width: 320px;
    margin: 45px auto 60px auto;
    color: #fff;
}

@media screen and (max-width: 1670px){
    .content {
        margin: 45px 200px 60px 200px;
    }
}

@media screen and (max-width: 1270px){
    .content {
        margin: 45px 100px 60px 100px;
    }
}

@media screen and (max-width: 860px){
    .content {
        margin: 45px 30px 60px 30px;
    }
}

@media screen and (max-width: 410px){
    .content {
        margin: 45px 19px 60px 19px;
    }
}

@media screen and (max-width: 360px){
    .content {
        margin: 45px 5px 60px 5px;
    }
}